.img {
  width: 100px;
  height: 100px;
  margin: 20px;
}
.App {
  text-align: center;
  color: black;
  background-color: #eef0f5;
}
.articleimg{
  width: 300px;
  height: 300px;
  margin: 20px;
  border: 5px solid white;


}

.inpt{
  font: bold;
  height: 45px;
  border-radius: 25px;
  box-shadow: 10px;
}

.person{
  text-shadow: #282c34;
 
 
  
  border-radius: 25px;
}
.person span {
  background-color: rgb(110, 110, 211);
}

.bg{
  background-color: rgb(255, 255, 255);
}
.user{
  border-radius: 60px;
  height: 80px;
  width: 80px ;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.picture{
  height:300px ;
  width: 300px;
}
 
